@charset "UTF-8";
body{
    padding: 0;
    margin: 0;
    background-color:#8080c0;
    opacity:80%;
    font-size: larger;
    text-align:left;
}
.container {
    display: flex;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:#d7e8e3;
    width:30%;
    min-width: 500px;
    margin: 30px auto;
    padding:20px;
    text-align: center;
    box-shadow: 0 0 20px 0 black, 0 5px 5px 0 black;
    border-radius: 20px;;
}
.container input{
	border-radius: 10px;
    background: #efeeee;
    width: 70%;
    border: 1px solid black;
    color:black;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}

.container .button{
    margin:15px auto 15px;
    border-radius: 10px;
    background: #ebf4f1;
    width:60%;
    border: 1px solid black;
    padding:10px;
    color: black;
    cursor: pointer;
}
.container .button:hover, .container .button:active{
    background-color: #04b6f7;
    transition: all 0.5s ease 0s;
}